.daily-card {
  color: #000000;
  width: 50%;
  min-height: 50%;
  display: flex;
  flex: 0 0 auto;
  font-size: 0.7rem;
  padding: 2px;
  text-align: center;
  background-color: #514158;

  .dayIcon-daily-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .dow-daily-card {
      font-weight: bold;
    }

    .icon-daily-card {
      font-size: 1rem;
    }
  }
}
