.WeatherResponse-div {
  width: 100%;
  align-items: center;
  justify-content: center;

  .main-title-curSum {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .cur-temCardTitleerature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
