.dailymain-div {
  max-width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .daily-title {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #b8a2c2;
  }

  .daily-cards {
    width: 70%;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    grid-auto-rows: 1fr;

    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    overflow-y: auto;
  }
}
