.mainpage-map-curtemp {
  display: flex;
  justify-content: space-around;
}

.main-summaries {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
