.App {
  background-color: #282c34;
  color: #f3f3f3;
  list-style: none;
  height: 100vh;
}

.content-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poweredby-div {
  font-size: 0.5rem;
  float: right;
}

/* 

.content-body {
  display: flex;
  align-items: center;
  justify-content: center;  
 
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  
  color: #61dafb;
}
 */
